<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.eat24">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignIn"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!--<activity android:name=".home" />-->
        <activity android:name=".SignUp"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".location"
            android:label="Location"/>
         <activity
         android:name="com.main.eat24.home"
         android:label="@string/title_activity_home" />
        <!--<activity android:name=".FoodList" />-->
        <!--<activity android:name=".FoodDetail" />-->
        <activity android:name=".Cart"
            android:label="Cart" />
        <activity android:name=".Paypal"
            android:label="Payment"/>
        <activity android:name=".Menu_Activity"
            android:label="Menu"/>
        <activity android:name=".GalleryActivity"/>
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />

        <activity android:name=".OrderStatus"
            android:label="Order History"/>
    </application>

</manifest>